In [10]:
import pandas as pd
import numpy as np

In [11]:
df = pd.read_csv('weather_data.csv')
df

         Day  Temperature  Humidity  Wind Speed
0     Monday           25        60          15
1    Tuesday           28        55          10
2  Wednesday           30        50          20
3   Thursday           22        70          10
4     Friday           26        65           8
5   Saturday           27        60           5
6     Sunday           24        75          12

In [12]:
df['Comfort'] = df['Temperature'] * 0.4 + df['Humidity'] * 0.4 + df['Wind Speed'] * 0.2

In [13]:
df.sort_values('Comfort',ascending = False)

         Day  Temperature  Humidity  Wind Speed  Comfort
6     Sunday           24        75          12     42.0
3   Thursday           22        70          10     38.8
4     Friday           26        65           8     38.0
0     Monday           25        60          15     37.0
2  Wednesday           30        50          20     36.0
5   Saturday           27        60           5     35.8
1    Tuesday           28        55          10     35.2

In [14]:
print(df.loc[df['Comfort'].idxmax(),'Day'],"is the best day to go out based on the original comfort score")

Sunday is the best day to go out based on the original comfort score


To see the effect of weightages we can give higher priority to temp than the other factors and see the results

In [15]:
df['Comfort_Mod'] = df['Temperature'] * 0.7 + df['Humidity'] * 0.4 + df['Wind Speed'] * 0.2

In [16]:
df.sort_values('Comfort_Mod',ascending = False)

         Day  Temperature  Humidity  Wind Speed  Comfort  Comfort_Mod
6     Sunday           24        75          12     42.0         49.2
4     Friday           26        65           8     38.0         45.8
3   Thursday           22        70          10     38.8         45.4
2  Wednesday           30        50          20     36.0         45.0
0     Monday           25        60          15     37.0         44.5
5   Saturday           27        60           5     35.8         43.9
1    Tuesday           28        55          10     35.2         43.6

In [17]:
print(df.loc[df['Comfort_Mod'].idxmax(),'Day'],"is the best day to go out based on the modified comfort score")

Sunday is the best day to go out based on the modified comfort score


We can further see the effect of weightages by giving higher priority to humidity than the other factors and see the results

In [18]:
df['Comfort_Mod'] = df['Temperature'] * 0.4 + df['Humidity'] * 0.8 + df['Wind Speed'] * 0.2

In [19]:
df.sort_values('Comfort',ascending = False)

         Day  Temperature  Humidity  Wind Speed  Comfort  Comfort_Mod
6     Sunday           24        75          12     42.0         72.0
3   Thursday           22        70          10     38.8         66.8
4     Friday           26        65           8     38.0         64.0
0     Monday           25        60          15     37.0         61.0
2  Wednesday           30        50          20     36.0         56.0
5   Saturday           27        60           5     35.8         59.8
1    Tuesday           28        55          10     35.2         57.2

In [20]:
print(df.loc[df['Comfort_Mod'].idxmax(),'Day'],"is the best day to go out based on the modified comfort score")

Sunday is the best day to go out based on the modified comfort score